/* Next-Match */

.next-match {
	background-color: #E4DDD4;
	border-left: solid 1px #fff;
	background-color: #0E1111;
	background-image: url("https://images.unsplash.com/photo-1512719994953-eabf50895df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80");
	background-position: center;
}

.match-footer {
	background-color: #DC143C;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.match-infos {
	padding-top: 30%;
}

.match-equipe {
	color: #fff;
	text-align: center;
	padding-bottom: 15px;
}

.match-division {
	color: #8290AD;
	text-align: center;
	font-size: 0.9rem;
}

.match-versus {
	padding: 10px 10%;
}

.match-logos {
	width: 34%;
}

.match-vs {
	width: 32%;
	color: #fff;
	font-size: 1.3rem;
}

.logos {
	width: 70px;
	max-width: 100%;
}

.match-clubs {
	padding: 0 10%;
}

.match-club {
	width: 34%;
	color: #fff;
	text-align: center;
	font-size: 1.1rem;
}

.match-date {
	width: 32%;
	color: #DC143C;
	text-align: center;
}

.countdown-value {
	font-size: 2.5rem;
	color: #fff;
}

.countdown-label {
	color: #DC143C;
	font-size: 0.8rem;
	margin-left: 5px;
	margin-right: 10px;
}

/* Section Articles */

.secArticle {
	background-color: #F6F4EA;
	height: 1500px;
}

/* Carousel */

.carousel {
	padding: 0 !important;
	max-width: 1153px;
}

.carousel-control-next, .carousel-control-prev {
	width: 10% !important;
}

.carousel-control-next-icon {
	background-image: url("https://image.flaticon.com/icons/svg/339/339918.svg") !important;
}

.carousel-control-prev-icon {
	background-image: url("https://image.flaticon.com/icons/svg/339/339876.svg") !important;
}

@media only screen and (max-width: 1400px) {
	
	.match-infos {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 1100px) {
	
	.first-article {
		flex: 0 0 100% !important;
		max-width: 100%;
	}
	
	.next-match {
		display: none;
	}
}