<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
	<head th:replace="fragment/adminlayout.html :: head"></head>
	<link rel="stylesheet" href="/css/adminMessage.css">
</head>

<body>

	<div th:replace="fragment/adminlayout.html :: sidebar"></div>
	
	<div class="content my-5">
		<div class="divTitle container col-10 d-flex py-2 border-bottom">
			<div class="sendInfos col-2">
				<p>Envoyeur</p>
			</div>
			<div class="sendMessage col-8">
				<p>Contenu du message</p>
			</div>
			<div class="sendDate col-2">
				<p>Date d'envoi</p>
			</div>
		</div>
		<div class="divMessage container col-10 d-flex py-2 border-bottom" th:each="message : ${messages}">
			<div class="sendInfos col-2">
				<span th:text="|${message.firstname} ${message.lastname}|">John Doe</span>
				<p th:text="${message.email}">xyz@gmail.com</p>
			</div>
			<div class="sendMessage col-8">
				<p th:text="${message.content}">Contenu du message</p>
			</div>
			<div class="sendDate col-2">
				<span th:text="${#dates.format(message.date, 'yyyy-MM-dd')}">2019-12-12</span>
			</div>
			<a th:href="@{|/admin/messages/delete${message.id}|}"><i class="fas fa-trash-alt"></i></a>
		</div>
	</div>
	
</body>

</html>