<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<head th:replace="fragment/layout.html :: head">
	</head>
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<header th:replace="fragment/layout.html :: top"></header>

	<section class="secFirst d-flex">
		<div class="container px-0 col-9 bg-light first-article">
			<article>
				<img class="img-fluid" src="https://via.placeholder.com/1400x650" alt="Article image">
			</article>
		</div>
		<div class="container px-0 col-3 next-match">
			<div class="match-infos d-flex flex-column justify-content-center">
				<span class="match-equipe" th:text="${nextMatch.localTeam}">Equipe Lorem Ipsum</span>
				<span class="match-division" th:text="${nextMatch.division}">Régionale 1</span>
				<div class="match-versus d-flex justify-content-between align-items-center">
					<div class="match-logos d-flex justify-content-center">
						<img class="logos" src="/img/fco-logo.png" alt="Logo F.C.O">
					</div>
					<span class="match-vs d-flex justify-content-center">VS</span>
					<div class="match-logos d-flex justify-content-center">
						<img class="logos" th:src="${nextMatch.visiteurLogo}" alt="Logo F.C.O">
					</div>
				</div>
				<div class="match-clubs d-flex justify-content-center">
					<span class="match-club">F.C.O</span>
					<time class="match-date" th:text="${formatedMatchDate}">00 mon.</time>
					<span class="match-club" th:text="${nextMatch.visiteurName}">F.C.O</span>
				</div>
				<div class="match-countdown mt-5 d-flex justify-content-center align-items-center">
					<span class="countdown-value" id="days">00</span>
					<span class="countdown-label">J</span>
					<span class="countdown-value" id="hours">00</span>
					<span class="countdown-label">H</span>
					<span class="countdown-value" id="mins">00</span>
					<span class="countdown-label">M</span>
					<span class="countdown-value" id="secs">00</span>
					<span class="countdown-label">S</span>
				</div>
			</div>
			<div class="match-footer py-1">
				<a class="btn see-matchs d-flex justify-content-center">Voir les autres matchs</a>
			</div>
		</div>
		
	</section>
	
	<footer th:replace="fragment/layout.html :: bottom"></footer>
</body>

<div th:replace="fragment/layout.html :: script"></div>
<script src="/js/matchCountdown.js"></script>
<script th:text="|let countDownDate = ${nextMatch.timeUntilMatch}|">
	let countDownDate = new Date('2020-12-25 00:00:00').getTime();
</script>

</html>