<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
	<head th:replace="fragment/layout.html :: head"></head>
	<link rel="stylesheet" href="/css/pole.css">
	<link rel="stylesheet" href="/css/styleSenior.css">
</head>

<body>
	<header th:replace="fragment/layout.html :: top"></header>

	<section class="tab-nav">
		<div class="container md-col-10 sm-col-12 md-offset-1 sm-offest-0">
			<p class="pole-name d-none d-md-block" th:text="|Pôle ${pole.name}|">Pôle Formation</p>
			<nav class="nav d-flex justify-content-center">
				<a data-toggle="tab" th:each="team, iter : ${teams}" th:class="${iter.index == 0} ? 'nav-item nav-link active' : 'nav-item nav-link'" th:href="|#p${iter.index}|" th:text="${team.name}">Team</a>
			</nav>
		</div>
	</section>

	<section class="tab-content body">
		<div th:each="team, iter : ${teams}" th:class="${iter.index == 0} ? 'tab-pane active' : 'tab-pane'" th:id="|p${iter.index}|">
			<div class="background1"></div>
<div class="background2"></div>

 <div class="container ">
		<div >
			<h3>Staff</h3>
		</div>
		<div class="row">

			<div class="col-6 col-md-3 ">
				<div class="element">	
				<img class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto row">
						<div class="PlayerNumber">
						<p class="h2">15</p>
						</div>
						<div class="PlayerInformation ">
						<p >patrick</p>
						<p >attaquant</p>
						</div>
						</div>
				</div>
			</div>
				<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
					<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
					<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
				

		</div>
		
		
		<div >
			<h3>Effectif</h3>
		</div>
		<div class="row">

			<div class="col-6 col-md-3 ">
				<div class="element">	
				<img class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
				<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
						
				</div>
			</div>
					<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
					<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>
					<div class="col-6 col-md-3 ">
				<div class="element">
				<img
						class="img-responsive img-fluid"
						src="/img/photoJoueur/photo.png"
						alt="${sponsorUpdated.getName()}">
						<div class="bondPhoto">
						<div class="PlayerNumber"></div>
						<div class="PlayerInformation"></div>
						</div>
				</div>
			</div>


		</div>




	</div>
		</div>
	</section>
	
	<section th:replace="fragment/sponsor.html :: sponsorbar"></section>
	<footer th:replace="fragment/layout.html :: bottom"></footer>
</body>

<div th:replace="fragment/layout.html :: script"></div>
</html>