<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<head th:replace="fragment/layout.html :: head">
	</head>
	<link rel="stylesheet" href="/css/stylePageSponsor.css">

</head>

<body>
	<header th:replace="fragment/layout.html :: top"></header>

	<div class="container my-5">
		<div class="afterPhoto">
			<h1>Nos Partenaires</h1>
		</div>
		<div class="row">
			<div class="col-6 col-md-4 " th:each="sponsorlist : ${sponsorList}">
				<div class="element d-flex justify-content-center align-items-center">
					<a th:href="@{${sponsorlist.getUrlPageSponsor()}}" target="_blank"
						th:title="@{${sponsorlist.getName()}}">
						<img class="img-fluid"
						th:src="@{${sponsorlist.getUrlPhoto()}}"
						alt="">
					</a>
				</div>
			</div>
		</div>
	</div>

	<section th:replace="fragment/sponsor.html :: sponsorbar"></section>
	<footer th:replace="fragment/layout.html :: bottom"></footer>
</body>

<div th:replace="fragment/layout.html :: script"></div>
</html>